body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:white;
}

header{
  text-align:center;
  padding:80px 20px;
}

section{
  padding:40px;
}

.card{
  background:#222;
  padding:20px;
  margin-top:20px;
  border-radius:10px;
}